.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  background-color: #ffffff;
  max-width: 555px;
  margin: auto;
  padding-block-start: 48px;
  padding-block-end: 72px;
  padding-inline-end: 58px;
  padding-inline-start: 58px;
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

button {
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.Joke-wrapper {
  padding-block-end: 1px;
}

.Joke-wrapper p {
  color: #34394f;
  font-size: 18px;
  align-items: left;
}

.Select {
  width: 100%;
  margin-block-start: 16px;
  padding-inline-start: 16px;
  padding-block-end: 16px;
  padding-block-start: 18px;
  border: solid 1px #c4c4c4;
  border-radius: 6px;
  color: #34394f;
}

.Category {
  color: #c4c4c4;
  background-color: transparent;
  border: none;
}

.Category:hover {
  background-color: #e9e9e9;
}

option:hover {
  background-color: #c4c4c4;
  /* padding-block-end: 18px;
  padding-block-start: 18px; */
}

.Input-label,
.Input,
.Select {
  font-size: 16px;
  text-align: left;
  line-height: 1.63;
  letter-spacing: -0.52px;
}

.Select {
  background-color: transparent;
  padding-block-end: 21px;
  padding-block-start: 19px;
  color: #34394f;
}

.Input {
  background-color: transparent;
  padding-block-end: 16px;
  padding-block-start: 15px;
  color: #c4c4c4;
  border: none;
}

.Select {
  /* background-color: url("./logo.svg");
  background-size: 100%;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Input_wrapper {
  width: 97%;
  position: relative;
  margin-block-start: 16px;
  padding-inline-start: 16px;
  border: solid 1px #c4c4c4;
  border-radius: 6px;
}

.Select:focus,
.Input_wrapper .Input:focus {
  border: solid 2px #34394f;
}

.Input_wrapper .Input {
  position: relative;
  left: -3.5%;
  width: 100%;
  padding-inline-start: 15px;
}

.Input_wrapper .Input-label {
  position: absolute;
  top: 29%;
  left: 5%;
  font-size: 16px;
  line-height: 26px;
  color: #c4c4c4;
  margin-inline-start: -11px;
}

.Input:focus ~ .Input-label {
  font-size: 14px;
  top: 0;
}

.Random-botton {
  background-color: #34394f;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  width: 100%;
  letter-spacing: -0.52px;
  padding-block-end: 15px;
  padding-block-start: 16px;
  margin-block-end: 52px;
  margin-block-start: 32px;
  border-radius: 6px;
  color: #ffffff;
}

.Counter-save-button {
  background-color: #f5f6f8;
}

.Counter-save-button,
button,
.Counter-input {
  color: #34394f;
}

.Counter-input {
  background-color: transparent;
  width: 20%;
  font-size: 18px;
  text-align: center;
  border: none;
}

.Counter-input:focus {
  outline: none;
}

.Counter-save-button {
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-block-end: 14px;
  padding-block-start: 17px;
  border-radius: 6px;
}

.Counter-save-button button {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  max-width: 24px;
  border: solid 2px #34394f;
  border-radius: 50%;
}

.Couter-button-decreased {
  padding-block-start: 2px;
  padding-block-end: 2px;
  padding-inline-end: 13px;
  padding-inline-start: 9px;
}

.Couter-button-increased {
  padding-block-start: 2px;
  padding-block-end: 2px;
  padding-inline-end: 16px;
  padding-inline-start: 6px;
}

.Save-jokes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Save-jokes-button {
  background-color: #f5f6f8;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: -0.52px;
  width: 68%;
  padding-block-end: 16px;
  padding-block-start: 14px;
  color: #34394f;
  border: none;
  border-radius: 6px;
}
